/**
*========================================
*	
*	Variables
*	
*========================================
*/


/**========================
*	Colors
*========================*/

$color_monochrome_900: #0000;

$color_blue_900: #00263E;
$color_blue_500: #3F7397;
$color_blue_100: #C2D8EA;
$color_blue_60: #E3F1FC;

$color_red_600: #DF2D2D;


/**========================
*	Sizing / Spacing
*========================*/

$content_width: 1200px;

$spacing_xl: 120px;
$spacing_l:   60px;


/**========================
*	Font
*========================*/

$font_xxxl: 80px; // 1
$font_xxl: 40px; // 1
$font_xl: 24px; // 1.5
$font_l: 18px; // 1.3
$font_m: 16px; // 1.5


/**========================
*	Breakpoints
*========================*/
$breakpoint_medium: 768px;