@import './partials/variables';

.iat-navigation {
    padding: $spacing_l;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.iat-navigation__text-container {

}

.iat-navigation__heading {
    font-size: $font_xxl;
    line-height: 1;
}

.iat-navigation__l18n-container {

}

.iat-navigation__l18n__item {

}